       @font-face {
            font-family: 'LobsterRegular';
            src: url('../data/fonts/Lobster/Lobster-Regular.ttf');
        }
        
        @font-face {
            font-family: 'Scada';
            src: url('../data/fonts/Scada/Scada-Regular.ttf');
        }
                 body {
            font-family: 'Scada', Arial, sans-serif;
        }
        section {
            padding-top:0px;
        }
        div {
            font-family: 'Scada', Arial, sans-serif;
        }
        

          h2 {
            font-family: 'LobsterRegular', Arial, sans-serif;
            text-align: center
        }
        h3{
            font-family: 'LobsterRegular', Arial, sans-serif;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .navbar{
           position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
        }
       .heading {
            font-family: 'LobsterRegular', Arial, sans-serif;
            color: #d3c0ad
        }
        
        .white-background {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .green-background {
            background-color: rgba(236, 242, 240, 1);
        }
        
        .halftop {
            display: block;
            position: relative;
            width: 100%;
            height: 50vh
        }
        
        .halfbottom {
            display: block;
            position: relative;
            width: 100%;
            height: 50vh
        }
         #first {
            background-color: #fff;
            background-image: url("../data/img/02_1.jpg");
            background-repeat: no-repeat;
background-size: cover;
            width: 100%;
            height:100%;
        }
        div.loader{
                        background-color: rgba(0, 0, 0, 0.2);

        }
        
        div.emblem {
            height: 100%;
            position: relative;
        }
        
        
        div.emblem img {
            margin: 0;
            position: absolute;
            width:40%;
            top: 30%;
            left: 90%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        #third {
                        background-color: rgba(236, 234, 233, 1);

        }
        #information{
            text-align: center;
             padding: 20px 20px 20px 20px;
        }
        #wrapper-horses {
           /* padding: 20px 20px 20px 20px;*/
           padding: 0px 0px 0px 0px;
           margin-bottom: 10px;
            background-color: #fff;

        }
        #horses-text{
            text-align: center;
          display: inline-block;
    vertical-align: middle;
    float: none;
            font-size: 20px
        }
        .place {
            padding:20px 0px   20px 0px;
            font-style: italic;
        }
                #map {
            height: 40%;
            padding-bottom: 20px;
        }

        #third>.container-fluid>.row {
            padding-top: 10px;
        }

#third>.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
#third>.row > [class*='col-'] {
     display: flex;
     flex-direction: column;
}  
.icon-on-top{
    margin-top: -30px;
}      
.text-colored{
    color: #888;
}

        #fourth {
         background-color: #fff;
         font-size: 16px;
        }
        .anchor{
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;      
      }
        
        #background-drawing  { width: 416px; height: 366px; background: red; }

        #dresscode-wrapper{
            margin-top: 3%;
            padding-bottom: 20px;
        }

        #dresscode-wrapper > .row > .col-md-5 {
        background-color: rgba(236, 234, 233,0.5);
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom:10px;
                margin-bottom:10px;

        text-align: center;

        }

        #dresscode-wrapper>.row > .col-md-6{
        padding-left: 0px;
        padding-right: 0px;
        }

        .bottom_info{
            background-color: rgba(236, 234, 233,0.5);
            border-top: 20px solid white;
            padding: 10px 0px 10px 0px;
            font-size: 20px;
            text-align: center
        }

        #fifth{
          background-color: rgba(236, 242, 240, 1);

        }
        #zoomwall{
            padding-bottom: 10px;
        }
        div.end-emblem{
            background-color: rgba(0, 0, 0, 0.2);
            height: 100%;
            position: relative;
        }
        div.end-emblem img {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
 
        }

#sixth{ 
            background-image: url("../data/img/ending.jpg");
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
}

        
        .white-transparent {
            background-color: rgba(255, 255, 255, 0.5);
            display: block;
            position: absolute;
            width: 100%;
            z-index: 1;
            text-align: center
        }
        
        .navbar .navbar-nav {
            float:none;
            margin: 0px
        }
        .navbar-brand >img {
            margin-top: -10px
        }
        
        .white-background>h1 {
            position: absolute;
            top: 30%;
            width: 100%;
            font-size: 7vh
        }
        
        .green-background>.row {
            position: absolute;
            top: 30%;
            width: 100%
        }
        
        .number-counter {
            display: block;
            position: relative;
            font-family: 'LobsterRegular', Arial, Helvetica, sans-serif;
            font-size: 5vh;
            text-align: center
        }
        
        .title-counter {
            display: block;
            position: relative;
            font-family: 'Scada', Arial, Helvetica, sans-serif;
            font-size: 3vh;
            text-align: center
        }
        

        ​